/*IMPORTED GOOGLE FONTS START*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
/* font-family: 'Lato', sans-serif; */

/*IMPORTED GOOGLE FONTS ENDS*/

/* LOCAL FONTS CSS START */

/* LOCAL FONTS CSS ENDS */


/*COMMON CSS START*/

/* Variables For Theme  */
:root {

    /* font colors  */
    --ColorWhitePrimary: #FCFCFC;
    --ColorWhiteSecondary: #5C5C5C;
    --ColorBlackPrimary: #010101;
    --ColorBlackSecondary: #909393;

    /* background colors  */
    --BgBlackPrimary: #101010;
    --BgBlackSecondary: #343434;
    --BgWhitePrimary: #FFFFFF;
    --BgWhiteSecondary: #EEEEEE;

    /* theme colors  */
    /* --ColorPrimary: #72A682; */
    --ColorPrimary: rgba(114, 166, 130);
    --ColorSecondary: #23232D;

    /* fonts  */
    --FontPrimary: 'Lato', sans-serif;
}





/* font colors  */
.ColorWhitePrimary{
    color: var(--ColorWhitePrimary) !important;
}
.ColorWhiteSecondary {
    color: var(--ColorWhiteSecondary) !important;
}
.ColorBlackPrimary {
    color: var(--ColorBlackPrimary) !important;
}
.ColorBlackSecondary {
    color: var(--ColorBlackSecondary) !important;
}

/* background colors  */
.BgBlackPrimary {
    background: var(--BgBlackPrimary) !important;
}
.BgBlackSecondary {
    background: var(--BgBlackSecondary) !important;
}
.BgWhitePrimary {
    background: var(--BgWhitePrimary) !important;
}
.BgWhiteSecondary {
    background: var(--BgWhiteSecondary) !important;
}

/* theme colors  */
.ColorPrimary {
    color: var(--ColorPrimary) !important;
}
.BgPrimary {
    background: var(--ColorPrimary) !important;
}
.BgPrimaryAlpha{
    background: rgba(114, 166, 130, 0.3);
}

/* fonts  */
.FontPrimary {
    font-family: var(--FontPrimary) !important;
}






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--FontPrimary);
    font-weight: normal;
    font-style: normal;
    /* font-size: 18px; */
    box-sizing: border-box;
    line-height: 1;
    /* overflow-x: hidden; */
    position: relative; /* for double submenu. to make them sticky one after another */
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--FontPrimary);
    margin: 0;
    line-height: 1;
    font-weight: 700;
}

p {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin: 0;
    font-family: var(--FontPrimary);
    color: var(--ColorBlackSecondary);
    margin-bottom: 15px;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:focus,
input:focus,
textarea:focus,
button:focus,
select:focus,
option:focus,
input:focus {
    outline: none !important;
}

a:focus,
a:hover {
    text-decoration: none;
}

span,
a {
    display: inline-block;
}
a{
    /* margin-bottom: -2px; */
}

a,
button {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.container {
    margin: 0 auto;
}

.clr {
    clear: both;
}

img {
    /* width: 100%; */
    /* height: 100% ; */
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    vertical-align: middle;
}

.bg_cover {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    width: 100%;
    height: 100%;
}
.object_cover{
    object-fit: cover;
}

.overlay_inner {
    /* background: var(--overlayColor); */
    background: rgba(114, 166, 130, 0.3);
    width: 100%;
    height: 100%;
}

.overlay_pos {
    /*Make position relative it's parent'*/
    position: absolute;
    /* left: 0; */
    top: 0;
    width: 100%;
    height: 100%;
    /* background: var(--overlayColor); */
}

/* .active {
    color: var(--themeWhite) !important;
    background: var(--themeColor) !important;
} */

.text_space {
    letter-spacing: 2px;
}

.ratio_16-9_parent{
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}
.ratio_16-9_child {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/*== All Button Style ==*/
/* .theme_btn {
    font-size: 20px;
    display: inline-block;
    padding: 10px 15px;
    color: var(--themeColor);
    background: var(--themeWhite);
    border: 1px solid var(--themeColor) !important;
    text-align: center;
    position: relative;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.theme_btn:hover {
    color: var(--themeWhite);
    background: var(--themeColor);
} */




/*END OF COMMON CSS*/

/*Section Title CSS Start*/
section{
    padding: 65px 0;
}
.section_title{
    text-align: center;
    padding-top: 5px;
    margin-bottom: 35px;
}
.section_title h2{
    margin-bottom: 5px;
    margin-top: 5px;
}
.section_design{
    border-top: 10px solid var(--ColorBlackPrimary);
    padding: 5px;
    border-bottom: 3px solid var(--ColorBlackPrimary);
}

.h-100{
    height: 100%;
}

/* .dropdown-menu {
    border: none;
    min-width: 200px !important;
    margin-top: 0 !important;
    border-radius: 0 !important;
}
.dropdown-item {
    white-space: pre-wrap !important;
} */

a.social-icon {
    color: var(--ColorBlackSecondary);
    margin-right: 15px;
    transition: .3s linear;
}

table th{
    text-align: center;
    vertical-align: middle;
    color: var(--BgWhitePrimary);
    padding: 15px !important;
}
table td{
    padding: 10px 20px !important;
}
table th, td {
    font-size: 18px;
    vertical-align: middle;
}
table thead{
    background: var(--ColorPrimary);
}
table thead th:nth-child(2n+2) {
    background: #5E8B6C;
}
table tbody{
    padding-top: 5px;
    border-top: none !important;
}





/*Section Title CSS End*/
