/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* .navbar .nav-item .nav-link {
        padding: 28px 20px;
    } */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}



















/* `xs` returns only a ruleset and no media query */
/* ... { ... } */

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .offcanvas-header {
        padding: 0 1rem;
    }
    

}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .offcanvas-header {
        padding: 0 1rem;
    }
    .navbar .nav-item .nav-link {
        padding: 28px 15px !important;
        font-size: 15px !important;
    }
    .dropdown-item {
        font-size: 15px !important;
    }

    .banner_simple_slider .overlay_pos {
        width: 250px !important;
        display: none !important;
    }

    .text_center_sm {
        text-align: center;
    }
    .sm_none {
        display: none !important;
    }

}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .navbar .nav-item .nav-link {
        padding: 28px 15px !important;
        font-size: 11px;
    }
    .navbar.submenu .nav-item .nav-link {
        padding: 10px 20px !important;
    }
    .dropdown-item {
        font-size: 11px;
    }

    .banner_simple_slider .overlay_pos {
        width: 340px !important;
    }
    .banner_simple_slider .border-center h1 {
        line-height: 50px;
        margin: 20px 0px;
        font-size: 20px;
    }
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .navbar .nav-item .nav-link {
        padding: 28px 20px;
    }
    .dropdown-menu .dropdown-item {
        padding: 13px 20px;
    }

    .banner_simple_slider .overlay_pos {
        width: 440px;
    }
}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {

}

